body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: 100vh;
    margin: 0; 
    background-color: grey;
}

.header-container {
    text-align: center; 
}

.profile-photo {
    text-align: center; 
}


.prof-photo {
    max-width: 100%; 
    height: auto; 
}